{% extends 'base.layout.twig' %}



{% block title %}Log in{% endblock %}

{% block body %}

    <div class="wrapper fadeInDown">
        <div id="formContent">

            <!-- Icon -->
            <div class="fadeIn first">
            <img src="/img/logo.png" id="icon" alt="User Icon" />
            </div>
            
            <!-- Login Form -->
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}

                <input type="text" id="inputUsername" class="fadeIn second" name="username" placeholder="Usuario">
                <input type="password" id="inputPassword" class="fadeIn third" name="password" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" name="submit" value="Iniciar Sessión">
            </form>

            <!-- Remind Passowrd
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div> -->

        </div>
    </div>

{% endblock %}
