{% extends 'base.layout.twig' %}

{% block title %}Tram Open BCN - Match{% endblock %}

{##}
{% block body %}


<div class="example-wrapper">
    <h1>Tram Open BCN - Match</h1>
    <a href="{{ path('app_login') }}">Accede a la plataforma</a>
</div>
{% endblock %}