@font-face {
    font-family: 'SFPro';
    /* IE9 Compat Modes */
    src: url('fonts/SFPro/TrueType/SFProText-Regular.ttf') format('truetype');
    /* Safari, Android, iOS */
    /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro';
    /* IE9 Compat Modes */
    src: url('fonts/SFPro/TrueType/SFProText-Medium.ttf') format('truetype');
    /* Safari, Android, iOS */
    /* Legacy iOS */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro';
    /* IE9 Compat Modes */
    src: url('fonts/SFPro/TrueType/SFProText-Bold.ttf') format('truetype');
    /* Safari, Android, iOS */
    /* Legacy iOS */
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro';
    /* IE9 Compat Modes */
    src: url('fonts/SFPro/TrueType/SFProText-Heavy.ttf') format('truetype');
    /* Safari, Android, iOS */
    /* Legacy iOS */
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'SFPro';
    background: #001f5b;
    color: #fff;
}

.content-cell{
    display: table-cell;
    vertical-align: middle;
}

.disabled {
    opacity: 0.3;
}

.content-no-match {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

    .content-no-match .content-table {
        display: table;
        width: 100%;
        height: 100%;
    }

        .content-no-match .content-table .no-match{
            display: table-cell;
            vertical-align: middle;
            font-size: 34px;
            font-weight: bold;
            text-transform: uppercase;
        }

.modal-backdrop.show {
    opacity: .8;
}

.header-container{
    margin-top: 30px;
}

    .header-container .logout {
        float: right;
        height: 100%;
        display: table;
        font-size: 36px;
        margin-left: 30px;
    }

        .header-container .logout a {
            color: #fff;
            display: table-cell;
            vertical-align: middle;
        }

    .header-container .content-info-match{
        width: 100%;
        float: left;
        text-align: left;
        font-size: 18px;
    }

        .header-container .content-info-match .datetime{
            font-weight: bold;
            font-size: 18px;
            display: block;
        }

        .header-container .content-info-match .info-match{
            font-weight: 500;
            font-size: 16px;
        }

    .header-container .content-logo img{
        width: 165px;
    }

    .header-container .content-time-match{
        font-size: 18px;
        width: 151px;
        text-align: center;
        float: right;
    }

        .header-container .content-time-match .title-time{
            width: 100%;
            display: block;
        }

        .header-container .content-time-match .time{
            width: 100%;
            font-size: 30px;
            display: block;
            font-weight: bold;
            line-height: 30px;
        }

.content-buttons-match {
    width: 100%;
    margin-top: 40px;
}

    .content-buttons-match .button-play-pause{
        width: 18%;
        height: 100px;
        border-radius: 10px;
        box-shadow: 7px 7px 0 0 rgba(255, 209, 0, 0.35);
        border: solid 3px #ffd100;
        background-color: #ffd100;
        float: left;
        text-align: center;
        color: #001f5b;
        display: table;
        font-size: 55px;
    }
        .content-buttons-match .button-play-pause .play,
        .content-buttons-match .button-play-pause .pause {
            width: 100%;
            height: 100%;
            display: block;
        }

        .content-buttons-match .button-play-pause:hover{
            box-shadow: none;
            margin-left: 7px;
            margin-top: 7px;
            margin-right: -7px;
            margin-bottom: -7px;
        }
    
    .content-buttons-match .button-finish,
    .content-buttons-match .button-suspend{
        width: 36%;
        height: 100px;
        margin-left: 4%;
        border-radius: 10px;
        box-shadow: 7px 7px 0 0 rgba(255, 209, 0, 0.35);
        border: solid 3px #ffd100;
        background-color: #ffd100;
        float: left;
        text-align: center;
        color: #001f5b;
        display: table;
    }   

        .content-buttons-match .button-finish:hover{
            box-shadow: none;
            margin-left: calc(4% + 7px);
            margin-top: 7px;
            margin-right: -7px;
            margin-bottom: -7px;
        }

        .content-buttons-match .button-suspend:hover{
            box-shadow: none;
            margin-left: calc(4% + 7px);
            margin-top: 7px;
            margin-bottom: -7px;
        }

        .content-buttons-match .button-finish .title,
        .content-buttons-match .button-suspend .title{
            font-size: 32px;
            font-weight: bold;
            display: block;
            line-height: 35px;
        }

        .content-buttons-match .button-finish .sub,
        .content-buttons-match .button-suspend .sub{
            font-size: 22px;
            font-weight: bold;
            display: block;
        }

.content-point-game {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-style: dashed;
    display: table;
    position: relative;
}

    .content-point-game .button-return{
        width: 100px;
        height: 45px;
        border-radius: 10px;
        box-shadow: 7px 7px 0 0 rgba(255, 209, 0, 0.35);
        border: solid 3px #ffd100;
        background-color: #ffd100;
        text-align: center;
        color: #001f5b;
        display: table;
        font-size: 42px;
        position: absolute;
        top: 10px;
        left: 20px;
    }

        .content-point-game .button-return:hover{
            box-shadow: none;
            margin-left: 7px;
            margin-top: 7px;
            margin-bottom: -7px;
        }

    .content-point-game .result-game {
        text-align: center;
        display: table;
        width: 100%;
    }

        .content-point-game .result-game .result-game-info {
            width: 220px;
            margin: auto;
        }

            .content-point-game .result-game .result-game-info .saca-player-1{
                color: #1174e8;
                font-size: 36px;
                position: absolute;
                left: -50px;
                top: 20px;  
                display: none;
            }
            .content-point-game .result-game .result-game-info .saca-player-2{
                color: #cc3749;
                font-size: 36px;
                position: absolute;
                right: -50px;
                top: 20px; 
                display: none;
            }

                .content-point-game .result-game .result-game-info .saca-player-1.active,
                .content-point-game .result-game .result-game-info .saca-player-2.active{
                    display: block;
                }

            .content-point-game .result-game .result-game-info .points-player-1,
            .content-point-game .result-game .result-game-info .points-player-2{
                font-size: 60px;
                font-weight: bold;
                width: 85px;
                display: block;
                float: left;
                position: relative;
            }

            .content-point-game .result-game .result-game-info .vs{
                font-size: 60px;
                font-weight: bold;
                display: block;
                float: left;
                margin: 0 10px;
            }

.content-actions-game{
    margin-top: 50px;
}

    .content-actions-game .button-player,
    #choose-who-starts .modal-content .choose-player,
    #choose-retired-player .modal-content .choose-player{
        width: 100%;
        height: 114px;
        border-radius: 10px;
        float: left;
        text-align: center;
        color: #ffffff;
        display: table;
    }   

        .content-actions-game .button-player.player1{
            box-shadow: 7px 7px 0 0 rgba(17, 116, 232, 0.5);
            border: solid 3px #1174e8;
            background-color: #1174e8;
        }

        .content-actions-game .button-player.player2{
            box-shadow: 7px 7px 0 0 rgba(204, 55, 73, 0.5);
            border: solid 3px #cc3749;
            background-color: #cc3749;
        }
        
        .content-actions-game .button-player:hover{
            box-shadow: none;
            margin-left: 7px;
            margin-top: 7px;
            margin-right: -7px;
            margin-bottom: -7px;
        }

        .content-actions-game .button-player .title{
            font-size: 36px;
            font-weight: bold;
            display: block;
            line-height: 35px;
        }

        .content-actions-game .button-player .sub{
            font-size: 22px;
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        .content-actions-game .button-player .saca{
            display: none;
        }

            .content-actions-game .button-player .saca.active{
                display: inline-block;
            }
    
    .content-actions-game .button-player-ace,
    .content-actions-game .button-player-fault{
        width: 100%;
        height: 70px;
        border-radius: 10px;
        float: left;
        text-align: center;
        color: #ffffff;
        display: table;
        margin-top: 35px;
    }  

        .content-actions-game .button-player-fault.double .title {
            font-size: 24px;
            line-height: 30px;
        }

        .content-actions-game .button-player-ace.player1,
        .content-actions-game .button-player-fault.player1{
            box-shadow: 7px 7px 0 0 rgba(17, 116, 232, 0.5);
            border: solid 3px #1174e8;
            background-color: #1174e8;
        }

        .content-actions-game .button-player-ace.player2,
        .content-actions-game .button-player-fault.player2{
            box-shadow: 7px 7px 0 0 rgba(204, 55, 73, 0.5);
            border: solid 3px #cc3749;
            background-color: #cc3749;
        }

        .content-actions-game .button-player-ace .title,
        .content-actions-game .button-player-fault .title{
            font-size: 36px;
            font-weight: bold;
            display: block;
            line-height: 35px;
        }

        .content-actions-game .button-player-ace:hover,
        .content-actions-game .button-player-fault:hover{
            box-shadow: none;
            margin-left: 7px;
            margin-top: 43px;
            margin-right: -7px;
            margin-bottom: -8px;
        }

.content-results{
    margin-top: 40px;
    border-radius: 10px;
    border: solid 3px #ffffff;
}

    .content-results .titles {
        font-weight: bold;
        border-bottom: 2px solid;
        font-size: 24px;
        border-color: rgba(255,255,255,0.15);
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .content-results table.results {
        width: 100%;
    }

        .content-results table.results tr.title {
            border-bottom: 2px solid rgba(255,255,255,0.15);
        }

            .content-results table.results tr.title th {
                padding: 15px 0;
            }

        .content-results table.results tr.player1{
            border-bottom: 1px solid rgba(255,255,255,0.15);
        }
            .content-results table.results tr.player1 td,
            .content-results table.results tr.player2 td{
                padding: 15px 0;
            }

        .content-results table.results .title {
            font-size: 24px;
        }

        .content-results table.results .ball{
            width: 10%;
            text-align: center;
            font-size: 24px;
        }

        .content-results table.results tr.player1 .ball {
            color: #1174e8;
            opacity: 0.3;
        }

        .content-results table.results tr.player2 .ball {
            color: #cc3749;
            opacity: 0.3;
        }

            .content-results table.results td.ball.active{
                opacity: 1;
            }

        .content-results table.results .players{
            width: 35%;
            text-align: left;
            padding-bottom: 15px;
        }

            .content-results table.results .players .title{
                font-size: 24px;
                font-weight: bold;
                width: 100%;
                display: block;
            }

            .content-results table.results .players .name-players{
                font-size: 18px;
                font-weight: 500;
                width: 100%;
                display: block;
            }

        .content-results .results .s1,
        .content-results .results .s2,
        .content-results .results .s3{
            width: 10%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
        }

        .content-results .results .point{
            width: 25%;
            text-align: center;
        }

            .content-results .results .point .point {
                border: 1px solid;
                padding: 15px 20px;
                border-color: rgba(255,255,255,0.15);
                font-size: 24px;
                font-weight: 500;
            }

        .content-results .results .player1 .title{
            color: #1174e8;
        }

        .content-results .results .player2 .title{
            color: #cc3749;
        }

#validate-game .modal-content,
#choose-who-starts .modal-content,
#choose-retired-player .modal-content,
#modal-results-finish .modal-content {
    background: #001f5b;
    border: 2px solid #fff;
    border-radius: 10px;
}

    #validate-game .modal-header,
    #choose-who-starts .modal-header,
    #choose-retired-player .modal-header,
    #modal-results-finish .modal-header {
        padding: 15px 35px 15px 35px;
    }

    #validate-game .modal-body,
    #choose-who-starts .modal-body,
    #choose-retired-player .modal-body,
    #modal-results-finish .modal-body{
        padding: 35px;
    }

    #validate-game .modal-content .modal-title,
    #choose-who-starts .modal-content .modal-title,
    #choose-retired-player .modal-content .modal-title,
    #modal-results-finish .modal-content .modal-title {
        font-size: 32px;
        text-transform: uppercase;
    }

    #choose-who-starts .modal-content .close,
    #choose-retired-player .modal-content .close,
    #modal-results-finish .modal-content .close {
        font-size: 36px;
        color: #fff;
        margin-top: -30px;
        margin-right: -40px;
        opacity: 1;
    }

    #modal-results-finish .winner {
        font-size: 24px;
        font-weight: bold;
    }

        #modal-results-finish .winner.player1 .name-player{
            color: #1174e8;
        }

        #modal-results-finish .winner.player2 .name-player{
            color: #cc3749;
        }

    #choose-who-starts .modal-content .choose-player,
    #choose-retired-player .modal-content .choose-player{
        width: 100%;
        height: 114px;
        border-radius: 10px;
        float: left;
        text-align: center;
        color: #ffffff;
        display: table;
    }   
        #choose-who-starts .modal-content .choose-player.player1,
        #choose-retired-player .modal-content .choose-player.player1{
            box-shadow: 7px 7px 0 0 rgba(17, 116, 232, 0.5);
            border: solid 3px #1174e8;
            background-color: #1174e8;
        }

        #choose-who-starts .modal-content .choose-player.player2,
        #choose-retired-player .modal-content .choose-player.player2{
            box-shadow: 7px 7px 0 0 rgba(204, 55, 73, 0.5);
            border: solid 3px #cc3749;
            background-color: #cc3749;
        }
        
        #choose-who-starts .modal-content .choose-player:hover,
        #choose-retired-player .modal-content .choose-player:hover{
            box-shadow: none;
            margin-left: 7px;
            margin-top: 7px;
            margin-right: -7px;
            margin-bottom: -7px;
        }

        #choose-who-starts .modal-content .choose-player .title,
        #choose-retired-player .modal-content .choose-player .title{
            font-size: 24px;
            font-weight: bold;
            display: block;
            line-height: 35px;
        }

        #choose-who-starts .modal-content .choose-player .sub,
        #choose-retired-player .modal-content .choose-player .sub{
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }

        #validate-game .modal-content .acept-game-win,
        #validate-game .modal-content .cancel-game-win{
            width: 100%;
            height: 80px;
            border-radius: 10px;
            float: left;
            text-align: center;
            color: #ffffff;
            display: table;
        }

        #validate-game .modal-content .acept-game-win{
            box-shadow: 7px 7px 0 0 rgba(17, 116, 232, 0.5);
            border: solid 3px #1174e8;
            background-color: #1174e8;
        }

        #validate-game .modal-content .cancel-game-win{
            box-shadow: 7px 7px 0 0 rgba(204, 55, 73, 0.5);
            border: solid 3px #cc3749;
            background-color: #cc3749;
        }

            #validate-game .modal-content .acept-game-win:hover,
            #validate-game .modal-content .cancel-game-win:hover{
                box-shadow: none;
                margin-left: 7px;
                margin-top: 7px;
                margin-right: -7px;
                margin-bottom: -7px;
            }

            #validate-game .modal-content .acept-game-win .title,
            #validate-game .modal-content .cancel-game-win .title{
                font-size: 18px;
                font-weight: bold;
                display: block;
                line-height: 35px;
                text-transform: uppercase;
            }

.content-results.horizontal {
    float: left;
}

    .content-results.horizontal .title {
        height: 75px;
        margin-bottom: 56px;
        margin-top: 47px
    }

    .content-results.horizontal .names {
        width: 40%;
        float: left;
        height: 100%;
        display: block;
        text-align: right;
        padding: 0 20px;
        border-right: 2px solid rgba(255,255,255, 0.15);
    }

        .content-results.horizontal .names .title,
        .content-results.horizontal .names .title-points,
        .content-results.horizontal .names .title-set{
            font-size: 20px;
            font-weight: bold;
            color: #ffffff;
        }

        .content-results.horizontal .names .title-points{
            margin-bottom: 64px;
        }

        .content-results.horizontal .names .title-set{
            margin-bottom: 64px;
        }

            .content-results.horizontal .names .title-set:last-child{
                margin-bottom: 32px;
            }

    .content-results.horizontal .player1,
    .content-results.horizontal .player2 {
        width: 30%;
        float: left;
        height: 100%;
        display: block;
        text-align: center;
        border-right: 1px solid rgba(255,255,255,0.15);
        /* padding: 0 15px; */
    }

        .content-results.horizontal .player1 .title,
        .content-results.horizontal .player2 .title{
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            float: left;
            position: relative;
        }

        .content-results.horizontal .player1 .title .titlep{
            color: #1174e8;
        }

        .content-results.horizontal .player2 .title .titlep{
            color: #cc3749;
        }

        .content-results.horizontal .player1 .sub,
        .content-results.horizontal .player2 .sub{
            font-size: 14px;
            color: #ffffff;
            font-weight: normal;
            line-height: 20px;
            width: 100%;
            float: left;
        }

        .content-results.horizontal .player1 .point,
        .content-results.horizontal .player2 .point{
            width: 65px;
            margin: auto;
            margin-bottom: 64px;
        }

            .content-results.horizontal .player1 .point .point,
            .content-results.horizontal .player2 .point  .point{
                border: 1px solid;
                padding: 15px 20px;
                border-color: rgba(255,255,255,0.15);
                font-size: 20px;
                font-weight: 500;
            }

            .content-results.horizontal .player1 .s1,
            .content-results.horizontal .player1 .s2,
            .content-results.horizontal .player1 .s3,
            .content-results.horizontal .player2 .s1,
            .content-results.horizontal .player2 .s2,
            .content-results.horizontal .player2 .s3{
                margin-bottom: 64px;
                font-size: 20px;
                font-weight: 500;
                position: relative;
            }

            .content-results.horizontal .player1 .s3,
            .content-results.horizontal .player2 .s3{
                margin-bottom: 32px;
            }

            .content-results.horizontal .player1 .ball, 
            .content-results.horizontal .player2 .ball {
                position: absolute;
                top: -35px;
                right: 38%;
            }

            .content-results.horizontal .player1 .ball{
                color: #1174e8;
                opacity: 0.3;
            }

            .content-results.horizontal .player2 .ball{
                color: #cc3749;
                opacity: 0.3;
            }

            .content-results.horizontal .player1 .ball.active,
            .content-results.horizontal .player2 .ball.active{
                opacity: 1;
            }

.content-results-finish {
    margin-top: 40px;
    border-radius: 10px;
    border: solid 3px rgba(255,255,255,0.15);
}

    .content-results-finish .titles {
        font-weight: bold;
        border-bottom: 2px solid;
        font-size: 24px;
        border-color: rgba(255,255,255,0.15);
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .content-results-finish table.results {
        width: 100%;
    }

        .content-results-finish table.results tr.title {
            border-bottom: 2px solid rgba(255,255,255,0.15);
        }

            .content-results-finish table.results tr.title th {
                padding: 15px 0;
            }

        .content-results-finish table.results tr.player1{
            border-bottom: 1px solid rgba(255,255,255,0.15);
        }
            .content-results-finish table.results tr.player1 td,
            .content-results-finish table.results tr.player2 td{
                padding: 15px 15px;
            }

        .content-results-finish table.results .title {
            font-size: 24px;
        }

        .content-results-finish table.results .ball{
            width: 10%;
            text-align: center;
            font-size: 24px;
        }

        .content-results-finish table.results tr.player1 .ball {
            color: #1174e8;
            opacity: 0.3;
        }

        .content-results-finish table.results tr.player2 .ball {
            color: #cc3749;
            opacity: 0.3;
        }

            .content-results-finish table.results td.ball.active{
                opacity: 1;
            }

        .content-results-finish table.results .players{
            width: 35%;
            text-align: left;
            padding-bottom: 15px;
        }

            .content-results-finish table.results .players .title{
                font-size: 24px;
                font-weight: bold;
                width: 100%;
                display: block;
            }

            .content-results-finish table.results .players .name-players{
                font-size: 18px;
                font-weight: 500;
                width: 100%;
                display: block;
            }

        .content-results-finish .results .s1,
        .content-results-finish .results .s2,
        .content-results-finish .results .s3{
            width: 10%;
            text-align: center;
            font-size: 24px;
            font-weight: 500;
            position: relative;
        }

        .content-results-finish .results .player1 .title{
            color: #1174e8;
        }

        .content-results-finish .results .player2 .title{
            color: #cc3749;
        }

.tiebreak {
    position: absolute;
    top: 0px;
    font-size: 14px;
}   

    .content-results-finish .tiebreak{
        top: 25px;
    }