{% extends 'logged.layout.twig' %}

{% block body %}
    <div class="container">
        <div class="header-container">
            <div class="row">
                <div class="col-4">
                    <div class="content-info-match">
                        <span class="datetime">{{date_match}}</span>
                        <span class="info-match">{{round}} / {{court}}</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-logo text-center">
                        <img src="/img/logo.png" id="icon" alt="User Icon" />
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="logout">
                        <a href="/logout"><i class="far fa-power-off"></i></a>
                    </div>
                    <div class="content-time-match" data-star="{{time_started}}">
                        <span class="title-time">TIEMPO PARTIDO</span>
                        <span class="time">{{duration}}</span>
                    </div>
                </dvi>
            </div>
        </div>
        <div class="content-match">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-buttons-match">
                                <div class="button-play-pause {{ active_match ? '' : 'disabled' }}" data-new="{{is_new}}">
                                    <div class="content-cell">
                                        <span class="pause d-none"><i class="fas fa-pause"></i></span>
                                        <span class="play"><i class="fas fa-play"></i></span>
                                    </div>
                                </div>
                                <div class="button-finish disabled">
                                    <div class="content-cell">
                                        <span class="title">JUGADOR RETIRADO</span>
                                        {# <span class="sub">PARTIDO</span> #}
                                    </div>
                                </div>
                                <div class="button-suspend disabled">
                                    <div class="content-cell">
                                        <span class="title">SUSPENDER</span>
                                        <span class="sub">PARTIDO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="content-point-game">
                                <div class="button-return disabled">
                                    <div class="content-cell">
                                        <i class="fas fa-undo-alt"></i>
                                    </div>
                                </div>
                                <div class="result-game">
                                    <div class="content-cell">
                                        <div class="result-game-info">
                                            <span class="points-player-1"><span class="value">{{score_player1}}</span> <span class="saca-player-1"><i class="fas fa-tennis-ball"></i></span></span>
                                            <span class="vs">-</span>
                                            <span class="points-player-2"><span class="value">{{score_player2}}</span> <span class="saca-player-2"><i class="fas fa-tennis-ball"></i></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="content-actions-game">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="button-player player1 {{ player_take == match.player1.id ? 'saca' : '' }} disabled">
                                                    <div class="content-cell">
                                                        <span class="title"><span class="saca"><i class="fas fa-tennis-ball"></i></span> JUGADOR 1</span>
                                                        <span class="sub">{{namePlayer1}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="button-player-ace player1 disabled">
                                                    <div class="content-cell">
                                                        <span class="title">ACE</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="button-player-fault player1 {{ type == 2 and match.player1.id == player_take  ? 'd-none' : '' }} disabled">
                                                    <div class="content-cell">
                                                        <span class="title">FALTA</span>
                                                    </div>
                                                </div>
                                                <div class="button-player-fault double player1 disabled {{ type == 2 and match.player1.id == player_take ? '' : 'd-none' }}">
                                                    <div class="content-cell">
                                                        <span class="title">DOBLE FALTA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="button-player player2 {{ player_take == match.player2.id ? 'saca' : '' }} disabled">
                                                    <div class="content-cell">
                                                        <span class="title"><span class="saca"><i class="fas fa-tennis-ball"></i></span> JUGADOR 2</span>
                                                        <span class="sub">{{namePlayer2}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="button-player-ace player2 disabled">
                                                    <div class="content-cell">
                                                        <span class="title">ACE</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="button-player-fault player2 {{ type == 2 and match.player2.id == player_take  ? 'd-none' : '' }} disabled">
                                                    <div class="content-cell">
                                                        <span class="title">FALTA</span>
                                                    </div>
                                                </div>
                                                <div class="button-player-fault double player2 disabled {{ type == 2 and match.player2.id == player_take  ? '' : 'd-none' }}">
                                                    <div class="content-cell">
                                                        <span class="title">DOBLE FALTA</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="content-results vertical d-none" data-set="{{actualSet}}" data-playsuseru="{{plays_user1}}" data-playsuserd="{{plays_user2}}">
                        <table class="results">
                            <tr class="title">
                                <th class="ball"></th>
                                <th class="players"></th>
                                <th class="s1">S1</th>
                                <th class="s2">S2</th>
                                <th class="s3">S3</th>
                                <th class="point">PUNTOS</th>
                            </tr>
                            <tr class="player1">
                                <td class="ball"><i class="fas fa-tennis-ball"></i></td>
                                <td class="players"><span class="title">JUGADOR 1</span><span class="name-player">{{namePlayer1}}</span></td>
                                <td class="s1"><span class="value">{{listSets["player1"][1]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][1]}}</span></td>
                                <td class="s2"><span class="value">{{listSets["player1"][2]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][2]}}</span></td>
                                <td class="s3"><span class="value">{{listSets["player1"][3]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][3]}}</span></td>
                                <td class="point"><span class="point">{{score_player1}}</span></td>
                            </tr>
                            <tr class="player2">
                                <td class="ball"><i class="fas fa-tennis-ball"></i></td>
                                <td class="players"><span class="title">JUGADOR 2</span><span class="name-player">{{namePlayer2}}</span></td>
                                <td class="s1"><span class="value">{{listSets["player2"][1]}}<span class="tiebreak">{{listSets["player2"]["tiebreak"][1]}}</span></td>
                                <td class="s2"><span class="value">{{listSets["player2"][2]}}<span class="tiebreak">{{listSets["player2"]["tiebreak"][2]}}</span></td>
                                <td class="s3"><span class="value">{{listSets["player2"][3]}}<span class="tiebreak">{{listSets["player2"]["tiebreak"][3]}}</span></td>
                                <td class="point"><span class="point">{{score_player2}}</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-results horizontal d-none" data-set="{{actualSet}}" data-playsuseru="{{plays_user1}}" data-playsuserd="{{plays_user2}}">
                        <div class="names">
                            <div class="title"></div>
                            <div class="title-points">Puntos</div>
                            <div class="title-set">S1</div>
                            <div class="title-set">S2</div>
                            <div class="title-set">S3</div>
                        </div>
                        <div class="player1">
                            <div class="title">
                                <span class="ball"><i class="fas fa-tennis-ball"></i></span>
                                <span class="titlep">P1</span>
                                <span class="sub">{{namePlayer1}}</span>
                            </div>
                            <div class="point"><span class="point">{{score_player1}}</span></div>
                            <div class="s1"><span class="value">{{listSets["player1"][1]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][1]}}</span></div>
                            <div class="s2"><span class="value">{{listSets["player1"][2]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][2]}}</span></div>
                            <div class="s3"><span class="value">{{listSets["player1"][3]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][3]}}</span></div>
                        </div>
                        <div class="player2">
                            <div class="title">
                                <span class="ball"><i class="fas fa-tennis-ball"></i></span>
                                <span class="titlep">P2</span>
                                <span class="sub">{{namePlayer2}}</span>
                            </div>
                            <div class="point"><span class="point">{{score_player2}}</span></div>
                            <div class="s1"><span class="value">{{listSets["player2"][1]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][1]}}</span></div>
                            <div class="s2"><span class="value">{{listSets["player2"][2]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][2]}}</span></div>
                            <div class="s3"><span class="value">{{listSets["player2"][3]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][3]}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="modal" id="choose-who-starts">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">¿Quién empieza?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="choose-player player1">
                                <div class="content-cell">
                                    <span class="title"><span class="saca active"><i class="fas fa-tennis-ball"></i></span> JUGADOR 1</span>
                                    <span class="sub">{{namePlayer1}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="choose-player player2">
                                <div class="content-cell">
                                    <span class="title"><span class="saca active"><i class="fas fa-tennis-ball"></i></span> JUGADOR 2</span>
                                    <span class="sub">{{namePlayer2}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal" id="choose-retired-player">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">¿Quién se retira?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="choose-player player1">
                                <div class="content-cell">
                                    <span class="title"><span class="saca active"><i class="fas fa-tennis-ball"></i></span> JUGADOR 1</span>
                                    <span class="sub">{{namePlayer1}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="choose-player player2">
                                <div class="content-cell">
                                    <span class="title"><span class="saca active"><i class="fas fa-tennis-ball"></i></span> JUGADOR 2</span>
                                    <span class="sub">{{namePlayer2}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal" id="validate-game">
        <div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">El jugador <span class="player-win-game"></span> gana el juego</h4>
					{# <button type="button" class="close" data-dismiss="modal">&times;</button> #}
				</div>
				<!-- Modal body -->
				<div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="acept-game-win">
                                <div class="content-cell">
                                    <span class="title">Aceptar</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4"></div>
                        <div class="col-4">
                            <div class="cancel-game-win">
                                <div class="content-cell">
                                    <span class="title">Cancelar</span>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </div>

    <div class="modal" id="modal-results-finish">
		<div class="modal-dialog modal-md modal-dialog-centered">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Partido finalizado</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="winner player1 d-none">GANADOR: <span class="name-player">{{namePlayer1}}</span></h2>
                            <h2 class="winner player2 d-none">GANADOR: <span class="name-player">{{namePlayer2}}</span></h2>
                        </div>
                        <div class="col-12">
                            <div class="content-results-finish">
                                <table class="results">
                                    <tr class="title">
                                        <th class="players"></th>
                                        <th class="s1">S1</th>
                                        <th class="s2">S2</th>
                                        <th class="s3">S3</th>
                                    </tr>
                                    <tr class="player1">
                                        <td class="players"><span class="title">JUGADOR 1</span><span class="name-player">{{namePlayer1}}</span></td>
                                        <td class="s1"><span class="value">{{listSets["player1"][1]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][1]}}</span></td>
                                        <td class="s2"><span class="value">{{listSets["player1"][2]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][2]}}</span></td>
                                        <td class="s3"><span class="value">{{listSets["player1"][3]}}</span><span class="tiebreak">{{listSets["player1"]["tiebreak"][3]}}</span></td>
                                    </tr>
                                    <tr class="player2">
                                        <td class="players"><span class="title">JUGADOR 2</span><span class="name-player">{{namePlayer2}}</span></td>
                                        <td class="s1"><span class="value">{{listSets["player2"][1]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][1]}}</span></td>
                                        <td class="s2"><span class="value">{{listSets["player2"][2]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][2]}}</span></td>
                                        <td class="s3"><span class="value">{{listSets["player2"][3]}}</span><span class="tiebreak">{{listSets["player2"]["tiebreak"][3]}}</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>

    {# <h2>Logged!</h2>
    <h3>{{ user_session|json_encode() }}</h3>
    <h3>{{ user_data|json_encode() }}</h3>

    <h3>{{ dump(user_session) }}</h3>
    <h3>{{ dump(user_data)  }}</h3>

    {# <a href="{{ absolute_url(asset('app_logout')) }}">Logout</a> #}
    {# <a href="/public/index.php/login">Logout</a> #} 

{% endblock %}