{% extends 'logged.layout.twig' %}

{% block body %}
    <div class="container">
        <div class="header-container">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <div class="content-logo text-center">
                        <img src="/img/logo.png" id="icon" alt="User Icon" />
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="logout">
                        <a href="/logout"><i class="far fa-power-off"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-no-match">
            <div class="content-table">
                <div class="no-match text-center">
                    <p>No tienes partidos para hoy</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}